estilizacao imagem 
#logo-main{
    width: 30px;
    display: flex;
    justify-content: end;
    align-items: center;  
    margin-right: 200px;
}


<div id="logo-main">
<img src="img/mulher.png">
</div> 

white-space: nowrap; serve para nao deixar o texto quebrar em duas linhas.